<?xml version="1.0" encoding="UTF-8"?>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>log in</title>
</head>
<body>
<h1>log in page：</h1>
<form method = 'post' enctype="multipart/form-data">
    {% csrf_token %}
    {{ error }}
     <p><label>username：</label><input type="text" name="username" /></p>
    <p><label>password：</label><input type="password" name="password"/></p>
{#    {{uf.as_p}}#}
    <input type="submit" value = "ok" />
</form>
<br>
<a href="http://127.0.0.1:8000/online/regist/">regist</a>
</body>
</html>